recipe_book.dtd

<!ELEMENT RECIPE_BOOK (DISH+)>
<!ELEMENT DISH (NAME, RECIPE, CALORIES, INGREDIENT+)>
<!ATTLIST DISH
    type CDATA #REQUIRED>
<!ELEMENT NAME (#PCDATA)>
<!ELEMENT RECIPE (#PCDATA)>
<!ELEMENT CALORIES (#PCDATA)>
<!ELEMENT INGREDIENT (ING_NAME, AMOUNT, UNIT)>
<!ATTLIST INGREDIENT
    optional CDATA #IMPLIED>
<!ELEMENT ING_NAME (#PCDATA)>
<!ELEMENT AMOUNT (#PCDATA)>
<!ELEMENT UNIT (#PCDATA)>
